@import './mixin.scss';
@import './colors.scss';

body {
    background: $dggradient;
    li {
        margin-top: 10px;
    }
    button {
        background: $bgviol;
    }
}

.content {
    @include size(500px, 500px, 50px auto, 20px);
    background: $bgyellow;
    border-radius: 10%;
    .todo {
        text-align: center;
        .btns {
            margin-top: 20px;
        }
        .ulItem {
            @include size(null, 300px, 20px 0 0 0, null);
            text-align: left;
            overflow-y: auto;
        }
    }
}